.navbar {
  &__logged-user-info {
    display: flex;
    align-items: center;
  }

  &__logout-icon {
    font-size: 35px;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  &__user-login {
    font-size: 15px;
    padding-right: 15px;
  }
  &__logo {
    color: #06baff;
    &:hover {
      cursor: pointer;
    }
  }

  #change-theme-btn {
    width: 40px;
    height: 40px;
    box-shadow: none;
    border-radius: 0;
    margin-right: 15px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 20px;
      background: #fff;
      right: -5px;
    }

    ::ng-deep {
      span {
        display: grid;
        place-content: center;
      }
    }

    mat-icon {
      font-size: 25px;
      width: 25px;
      height: 25px;
    }
  }
}

.logo {
  max-width: 50px;
  cursor: pointer;
  padding: 4px;
}

.container {
  &--main {
    min-height: 100vh;
    padding-bottom: 50px;
    @media(min-width: 576px) {
      max-width: 575px;
    }
    @media(min-width: 768px) {
      max-width: 754px;
    }
    @media(min-width: 992px) {
      max-width: 996px;
    }
    @media(min-width: 1200px) {
      max-width: 1175px;
    }
    @media(min-width: 1400px) {
      max-width: 1349px;
    }
  }
}
