<mat-toolbar color="primary">
  <div class="container navbar">
    <div class="navbar__logo" routerLink="/dashboard">
      <img src="./assets/images/rocket_flights_logo.png" alt="" class="logo" routerLink="/dashboard">
      rocket flights
    </div>
    <div class="navbar__logged-user-info" #menu>
      <button (click)="changeAppTheme()" mat-fab color="white" id="change-theme-btn">
        <ng-container *ngIf="isSetDarkMode; else darkmodeBtn">
          <mat-icon class="navbar__logout-icon">light_mode</mat-icon>
        </ng-container>
        <ng-template #darkmodeBtn>
          <mat-icon class="navbar__logout-icon">dark_mode</mat-icon>
        </ng-template>
      </button>
      <span class="navbar__user-login">
        <mat-spinner *ngIf="!user" color="accent" diameter="25">
        </mat-spinner>
        {{ user && 'Hello, ' + user.email }}
      </span>
      <mat-icon class="navbar__logout-icon" (click)="logout()">power_settings_new</mat-icon>
    </div>
    <button *ngIf="!isMenuActive" class="navbar__hamburger-btn" (click)="toggleMenu(menu)" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <button *ngIf="isMenuActive" class="navbar__hamburger-btn" (click)="toggleMenu(menu)" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="container container--main">
  <router-outlet></router-outlet>
</div>
<ng-template #confirmDeletion>
  <mat-dialog-content class="p-0">
    <h2 mat-dialog-title class="text-center">Are you sure you want to delete your account permanently ?</h2>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="row w-100 pb-3">
      <div class="col d-flex justify-content-center w-100">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button 
          mat-raised-button 
          color="accent" 
          (click)="removeAccount()">
          Yes, delete my account
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</ng-template>