<mat-toolbar color="primary">
  <div class="container navbar">
    <div class="navbar__logo" routerLink="/dashboard">
      <img src="./assets/images/rocket_flights_logo.png" alt="" class="logo" routerLink="/dashboard">
      rocket flights
    </div>
    <div class="navbar__logged-user-info">
      <button (click)="changeAppTheme()" mat-fab color="white" id="change-theme-btn">
        <ng-container *ngIf="isSetDarkMode; else darkmodeBtn">
          <mat-icon class="navbar__logout-icon">light_mode</mat-icon>
        </ng-container>
        <ng-template #darkmodeBtn>
          <mat-icon class="navbar__logout-icon">dark_mode</mat-icon>
        </ng-template>
      </button>
      <span class="navbar__user-login">Hello, John Doe</span>
      <mat-icon class="navbar__logout-icon">power_settings_new</mat-icon>
    </div>
  </div>
</mat-toolbar>
<div class="container container--main">
  <router-outlet></router-outlet>
</div>