.navbar {
  &__logged-user-info {
    display: flex;
    align-items: center;
  }

  &__logout-icon {
    font-size: 35px;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  &__user-login {
    font-size: 15px;
    padding-right: 15px;
  }
  &__logo {
    color: #06baff;
  }
}

.logo {
  max-width: 50px;
  // background: white;
  cursor: pointer;
  padding: 4px;
  // border-radius: 25px;
}

.container {
  &--main {
    @media(min-width: 576px) {
      max-width: 575px;
    }
    @media(min-width: 768px) {
      max-width: 754px;
    }
    @media(min-width: 992px) {
      max-width: 996px;
    }
    @media(min-width: 1200px) {
      max-width: 1175px;
    }
    @media(min-width: 1400px) {
      max-width: 1349px;
    }
  }
}
