* {
  color: #fff;
}

#new-flight-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 18px;
}

.loading-spinner-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-flights-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100px;
  left: 0;
  margin: auto;
  text-align: center;
  height: 20px;
  font-size: 2rem;
  opacity: .7;

  @media(max-width: 557px) {
    font-size: 1.2rem;
  }
}

::ng-deep {
  body {
    &[data-dark-mode] {
      .no-flights-info {
        color: white;
      }
    }
    .no-flights-info {
      color: rgb(0, 0, 0);
    }
  }
}