@import '~@angular/material/prebuilt-themes/purple-green.css';

html, body {
    background: #ffffff;
    background: linear-gradient(15deg, #cfc2fc , #ffffff, #ffffff);
    background: linear-gradient(15deg, #cfc2fc , #ffffff, #ade1ff);
  }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;

  &[data-dark-mode] {
    background: #020024;
    background: linear-gradient(15deg, #090979, #03003e, #03003e);
    background: linear-gradient(15deg, #890096, #2700a9, #090979);

    
  }
}

